*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Saira", sans-serif;
}
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #1e40af; /* Blue color */
  color: white;
  border-radius: 50%;
  padding: 10px 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.back-to-top:hover {
  background-color: #2563eb; /* Darker blue */
}
